.background    { background: rgb(0, 0, 0);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(102, 163, 255); }
.wall          { background: rgb(179, 0, 0);  }
.floater       { background: rgb(153, 0, 204); }
.coin {background:rgb(255, 255, 153);}
.actor  { position: absolute;  }
.player { background: rgb(82, 190, 128); }
.thingy {background: rgb(255, 128, 223);}

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
